In [22]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [42]:
spark.version

'3.5.5'

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/22 18:09:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/03/22 18:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/03/22 18:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/03/22 18:09:16 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [4]:
df_green.show(10,False)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|2       |2020-01-23 13:10:15 |2020-01-23 13:38:16  |N                 |1         |74          |130         |1              |12.77        |36.0       |0.0  |0.5    |2.05      |6.12        |NULL     |0.3                  |44.97       |1           |1        |0.0                 |
|NULL    |2020-01-20 15:09:00 |2020-01-20 15:46:00  |NULL              |NULL      |67          |39          |NULL           |8.0          |29.9       |2.75 |0.5    |0.0       |0.0         |NULL     |0.3                  |33.45       |NULL        |NULL     |NULL                |
|2       |2020-01-15 20:23:41 |2020-01-15 20:31:18  |N                 |1         |260         |157         |1              |1.27         |7.0        |0.5  |0.5    |0.0       |0.0         |NULL     |0.3                  |8.3         |2           |1        |0.0                 |
|2       |2020-01-05 16:32:26 |2020-01-05 16:40:51  |N                 |1         |82          |83          |1              |1.25         |7.5        |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |8.3         |2           |1        |0.0                 |
|2       |2020-01-29 19:22:42 |2020-01-29 19:31:02  |N                 |1         |166         |42          |1              |1.84         |8.0        |1.0  |0.5    |2.94      |0.0         |NULL     |0.3                  |12.74       |1           |1        |0.0                 |
|2       |2020-01-15 11:07:42 |2020-01-15 11:11:31  |N                 |1         |179         |223         |2              |0.76         |5.0        |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |5.8         |2           |1        |0.0                 |
|2       |2020-01-16 08:22:29 |2020-01-16 08:50:24  |N                 |1         |41          |237         |1              |3.32         |18.5       |0.0  |0.5    |3.0       |0.0         |NULL     |0.3                  |25.05       |1           |1        |2.75                |
|2       |2020-01-28 17:05:28 |2020-01-28 17:26:11  |N                 |1         |75          |161         |1              |2.21         |14.0       |1.0  |0.5    |2.78      |0.0         |NULL     |0.3                  |21.33       |1           |1        |2.75                |
|1       |2020-01-22 14:51:37 |2020-01-22 14:57:29  |N                 |1         |152         |166         |1              |0.9          |6.0        |0.0  |0.5    |1.0       |0.0         |NULL     |0.3                  |7.8         |1           |1        |0.0                 |
|2       |2020-01-31 10:25:04 |2020-01-31 10:52:13  |N                 |1         |75          |234         |1              |6.1          |22.5       |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |26.05       |2           |1        |2.75                |
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 10 rows

In [5]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [6]:
df_yellow.show(5,False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|2       |2020-01-06 09:18:38 |2020-01-06 09:33:56  |1              |3.03         |1         |N                 |263         |233         |1           |12.0       |0.0  |0.5    |1.5       |0.0         |0.3                  |16.8        |2.5                 |
|2       |2020-01-08 18:55:19 |2020-01-08 18:58:38  |1              |0.4          |1         |N                 |234         |107         |1           |4.0        |1.0  |0.5    |1.66      |0.0         |0.3                  |9.96        |2.5                 |
|2       |2020-01-16 12:11:53 |2020-01-16 12:42:44  |1              |2.46         |1         |N                 |68          |229         |1           |19.0       |0.0  |0.5    |4.46      |0.0         |0.3                  |26.76       |2.5                 |
|2       |2020-01-11 01:55:59 |2020-01-11 02:03:21  |6              |1.9          |1         |N                 |230         |90          |1           |8.0        |0.5  |0.5    |2.36      |0.0         |0.3                  |14.16       |2.5                 |
|2       |2020-01-01 21:31:48 |2020-01-01 21:36:01  |1              |0.77         |1         |N                 |238         |239         |1           |5.0        |0.5  |0.5    |1.76      |0.0         |0.3                  |10.56       |2.5                 |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [12]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [13]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [16]:
#Selecting all columns for both
common_columns = []
yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [23]:
df_green_sel = df_green.select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [25]:
df_yellow_sel = df_yellow.select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [27]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [28]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [30]:
df_trips_data.registerTempTable('trips_data')

/home/henriquecruzz/spark/spark-3.5.5-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [31]:
spark.sql("""
Select service_type, count(1) as count
from trips_data
group by service_type
""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [55]:
df_result = spark.sql("""
    select 
    -- Revenue grouping 
    PULocationID as revenue_zone,
    date_trunc('month', cast(pickup_datetime as TIMESTAMP)) as revenue_month,
    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,

    -- Additional calculations
    avg(passenger_count) as avg_monthly_passenger_count,
    avg(trip_distance) as avg_monthly_trip_distance

    from trips_data
    group by revenue_zone, revenue_month, service_type
""")

In [56]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')