In [2]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder \
    .master("spark://de-zoomcamp.us-central1-c.c.zoomcamp-2025-451318.internal:7077") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/27 22:25:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df_green = spark.read.parquet('data/pq/green/*/*')

25/03/27 22:26:16 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/03/27 22:26:31 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/03/27 22:26:46 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources
25/03/27 22:27:01 WARN TaskSchedulerImpl: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

In [5]:
df_green.show(10,False)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|2       |2020-01-23 13:10:15 |2020-01-23 13:38:16  |N                 |1         |74          |130         |1              |12.77        |36.0       |0.0  |0.5    |2.05      |6.12        |NULL     |0.3                  |44.97       |1           |1        |0.0                 |
|NULL    |2020-01-20 15:09:00 |2020-01-20 15:46:00  |NULL              |NULL      |67          |39          |NULL           |8.0          |29.9       |2.75 |0.5    |0.0       |0.0         |NULL     |0.3                  |33.45       |NULL        |NULL     |NULL                |
|2       |2020-01-15 20:23:41 |2020-01-15 20:31:18  |N                 |1         |260         |157         |1              |1.27         |7.0        |0.5  |0.5    |0.0       |0.0         |NULL     |0.3                  |8.3         |2           |1        |0.0                 |
|2       |2020-01-05 16:32:26 |2020-01-05 16:40:51  |N                 |1         |82          |83          |1              |1.25         |7.5        |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |8.3         |2           |1        |0.0                 |
|2       |2020-01-29 19:22:42 |2020-01-29 19:31:02  |N                 |1         |166         |42          |1              |1.84         |8.0        |1.0  |0.5    |2.94      |0.0         |NULL     |0.3                  |12.74       |1           |1        |0.0                 |
|2       |2020-01-15 11:07:42 |2020-01-15 11:11:31  |N                 |1         |179         |223         |2              |0.76         |5.0        |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |5.8         |2           |1        |0.0                 |
|2       |2020-01-16 08:22:29 |2020-01-16 08:50:24  |N                 |1         |41          |237         |1              |3.32         |18.5       |0.0  |0.5    |3.0       |0.0         |NULL     |0.3                  |25.05       |1           |1        |2.75                |
|2       |2020-01-28 17:05:28 |2020-01-28 17:26:11  |N                 |1         |75          |161         |1              |2.21         |14.0       |1.0  |0.5    |2.78      |0.0         |NULL     |0.3                  |21.33       |1           |1        |2.75                |
|1       |2020-01-22 14:51:37 |2020-01-22 14:57:29  |N                 |1         |152         |166         |1              |0.9          |6.0        |0.0  |0.5    |1.0       |0.0         |NULL     |0.3                  |7.8         |1           |1        |0.0                 |
|2       |2020-01-31 10:25:04 |2020-01-31 10:52:13  |N                 |1         |75          |234         |1              |6.1          |22.5       |0.0  |0.5    |0.0       |0.0         |NULL     |0.3                  |26.05       |2           |1        |2.75                |
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 10 rows

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [7]:
df_yellow.show(5,False)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|2       |2020-01-06 09:18:38 |2020-01-06 09:33:56  |1              |3.03         |1         |N                 |263         |233         |1           |12.0       |0.0  |0.5    |1.5       |0.0         |0.3                  |16.8        |2.5                 |
|2       |2020-01-08 18:55:19 |2020-01-08 18:58:38  |1              |0.4          |1         |N                 |234         |107         |1           |4.0        |1.0  |0.5    |1.66      |0.0         |0.3                  |9.96        |2.5                 |
|2       |2020-01-16 12:11:53 |2020-01-16 12:42:44  |1              |2.46         |1         |N                 |68          |229         |1           |19.0       |0.0  |0.5    |4.46      |0.0         |0.3                  |26.76       |2.5                 |
|2       |2020-01-11 01:55:59 |2020-01-11 02:03:21  |6              |1.9          |1         |N                 |230         |90          |1           |8.0        |0.5  |0.5    |2.36      |0.0         |0.3                  |14.16       |2.5                 |
|2       |2020-01-01 21:31:48 |2020-01-01 21:36:01  |1              |0.77         |1         |N                 |238         |239         |1           |5.0        |0.5  |0.5    |1.76      |0.0         |0.3                  |10.56       |2.5                 |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 5 rows

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [9]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [10]:
#Selecting all columns for both
common_columns = []
yellow_columns = set(df_yellow.columns)
for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [11]:
df_green_sel = df_green.select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [12]:
df_yellow_sel = df_yellow.select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [13]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [14]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [15]:
df_trips_data.registerTempTable('trips_data')

/home/henriquecruzz/spark/spark-3.5.5-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [16]:
spark.sql("""
Select service_type, count(1) as count
from trips_data
group by service_type
""").show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [17]:
df_result = spark.sql("""
    select 
    -- Revenue grouping 
    PULocationID as revenue_zone,
    date_trunc('month', cast(pickup_datetime as TIMESTAMP)) as revenue_month,
    service_type, 

    -- Revenue calculation 
    sum(fare_amount) as revenue_monthly_fare,
    sum(extra) as revenue_monthly_extra,
    sum(mta_tax) as revenue_monthly_mta_tax,
    sum(tip_amount) as revenue_monthly_tip_amount,
    sum(tolls_amount) as revenue_monthly_tolls_amount,
    sum(improvement_surcharge) as revenue_monthly_improvement_surcharge,
    sum(total_amount) as revenue_monthly_total_amount,

    -- Additional calculations
    avg(passenger_count) as avg_monthly_passenger_count,
    avg(trip_distance) as avg_monthly_trip_distance

    from trips_data
    group by revenue_zone, revenue_month, service_type
""")

In [18]:
df_result.show(5)

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000061|               1282.5|                  117.5|                     56.01|           590.3200000000003|                    180.0000000000011|           17598.43999999995|         1.2394957983193278|        4.962810650887575|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                       NULL|       11.090000000000002|
|          15|2020-03-01 00:00:00|       green|  1682.2299999999996|                  5.5|                    6.5|                       0.0|                       79.56|                   19.800000000000026|                     1802.44|                        1.0|        7.910298507462685|
|         229|2020-03-01 00:00:00|       green|   676.3600000000001|                  0.0|                    1.0|                       0.0|          42.839999999999996|                    8.099999999999998|                       728.3|                        1.0|        7.691111111111111|
|         137|2020-10-01 00:00:00|       green|  3480.8299999999995|                  0.0|                    0.0|                     297.0|          250.92000000000007|                   32.400000000000034|          4061.1499999999996|                       NULL|        9.184722222222225|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 5 rows

25/03/27 22:32:17 ERROR StandaloneSchedulerBackend: Application has been killed. Reason: Master removed our application: KILLED
25/03/27 22:32:17 ERROR Inbox: Ignoring error
org.apache.spark.SparkException: Exiting due to error from cluster scheduler: Master removed our application: KILLED
	at org.apache.spark.errors.SparkCoreErrors$.clusterSchedulerError(SparkCoreErrors.scala:291)
	at org.apache.spark.scheduler.TaskSchedulerImpl.error(TaskSchedulerImpl.scala:981)
	at org.apache.spark.scheduler.cluster.StandaloneSchedulerBackend.dead(StandaloneSchedulerBackend.scala:165)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint.markDead(StandaloneAppClient.scala:263)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint$$anonfun$receive$1.applyOrElse(StandaloneAppClient.scala:170)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:115)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [56]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')